.writearea{
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    font-size: inherit;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px 0;
    height: auto;
    min-height: 30px;
    display:inline-block;
    font-size: 24px;
    text-align: left;
    overflow-y: hidden;
    background-color: #141718 ;
    color: white;
    padding: 5px;
}
.title{
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    font-size: inherit;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.7rem;
    height: 100px;
    max-height: max-content;
    display:inline-block;
    text-align: left;
    overflow-y: hidden;
    background-color: #141718 ;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}
