
.userLikesContainer{ 
    margin-top: 110px;
    padding: 0 120px;
}
.userLikesAuthorContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.userLikesHeading{
    color: white;
    margin: 20px 0;
    font-size: 2rem;
    border-bottom: 1px solid #FFc038;
    /* font-family: cursive; */
    /* color: #FFC038; */
}
.likecontentempty{
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
}
.likecontentempty img{
    width: 300px;
    height: 300px;
}
.userLikesimageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* padding-right: 30px; */
    box-sizing: border-box;
}
.userLikesCardContainer{
    width: 100%;
    box-sizing: border-box;
    background-color: #141718;
    padding: 20px 20px 0 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    /* flex-direction: column; */
}
.skeltonLoading{
    width: 100%;
}

@media (max-width: 800px) {
    .userLikesContainer{ 
        padding: 0 20px;
    }
    .skeltonLoading{
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
    }
}